<main>
    <section class="section1">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus a deserunt libero, molestias ducimus
            voluptates rerum minima quas nesciunt corporis ipsa earum labore eligendi possimus sint repudiandae eos!
            Natus, rem.
            Optio quod facilis natus excepturi autem similique doloribus impedit earum magni asperiores illo
            perspiciatis assumenda, quia dicta laboriosam doloremque quas, quo voluptatibus obcaecati laudantium nam
            repudiandae, officiis molestiae. Accusantium, voluptatum!
            Ea nisi repellat maxime iure! Aliquam necessitatibus sapiente voluptatem obcaecati doloribus praesentium,
            magnam corrupti neque. Cupiditate, fugit atque. Quae quis consectetur molestiae dignissimos quod quidem ut
            ex explicabo repellat? Delectus.
            Totam numquam, odit rerum illo culpa tempore illum, dolorum expedita ullam delectus obcaecati autem unde
            nulla sed, adipisci iste nisi quas quos pariatur temporibus sit? Dolorem deleniti harum voluptatum modi?
            Perspiciatis sit temporibus sint voluptas at iste nam accusamus, alias quibusdam illo voluptatum ipsam
            asperiores pariatur minima accusantium minus cumque quia optio in odio similique et dolorem quae.
            Recusandae, autem?
            Minus atque provident ex natus distinctio eligendi quam itaque neque, suscipit tempora, repellendus quidem
            laborum temporibus. Doloribus, architecto sapiente! Ullam maxime atque repellendus perspiciatis culpa non,
            impedit deleniti doloribus nobis.
            Nisi dolor, sint magni numquam sequi incidunt et nostrum iure aut facilis, maxime qui velit, ut non fugiat
            nemo illum expedita. Numquam, magnam delectus? Commodi voluptatibus fugit ab maiores consectetur!
            Soluta sapiente voluptas ducimus! Delectus, natus optio, velit illum fugiat minima beatae doloremque rem
            amet cupiditate est similique, tempora sint labore libero numquam error dolorem nulla cumque inventore fugit
            officiis.
        </p>
    </section>
    <section class="section2">
            <h2>
                Esto es el título de la sección 2.
            </h2>
            <button>
                pulsar
            </button>
    </section>
</main>